@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Leckerli+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Send+Flowers&display=swap');

:root{
    --background-main: #faf9f6;
    --background-sec: #F0F2F5;
    --background-third: #F7F6F3;
    --accent-black: #121212;
    --accent-gold: #CCac00;
    --box-shadow: 0px 8px 15px rgba(0.1, 0.1, 0.1, 0.1);

    --text-regular1: Roboto;
    --text-regular2: Open Sans;
    --text-bold: Cal Sans;          
    --text-stylish: Leckerli One;
}

.toasttips{
    font-family: var(--text-regular1);
    .toasttip{
        position: fixed;
        left: .5%;
        bottom: -100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 400px;
        background: var(--background-third);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        transition: all .55s ease-in-out;
        z-index: 1000;

        visibility: hidden;
        opacity: 0;

        p{
            font-size: 18px;
            font-weight: 500;
            span{
                font-weight: 300;
                font-style: italic;
            }
        }
        svg{
            width: 15px;
            height: 15px;
            margin-left: 10px;
            padding: 3px 3px;
            background-color: rgb(255, 123, 123);
            border-radius: 100%;
        }
    }
    .copied-toast{
        svg{
            background-color: green;
        }
    }

    /* CLASSLIST FOR HIDING TOAST TIP */
    .show-toast{
        visibility: visible;
        bottom: 1%;
        opacity: 1;
    }
}

.loader{
    position: fixed;
    top: 45%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid grey;
    border-top: none;
    animation: spin .6s linear infinite;
    z-index: 500;
    transition: all .4s ease-in-out;

    visibility: hidden;
    opacity: 0;
}
.loading-screen{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);
    z-index: 400;
    transition: all .4s ease-in-out;

    visibility: hidden;
    opacity: 0;
}

/* CLASSLIST FOR HIDING LOADER */
.show-loader{
    visibility: visible;
    opacity: 1;
}

@keyframes spin{
    to { rotate: 360deg};
}


@media(max-width: 900px){
    .toast-tip-container{
        .toasttip{
            left: 2%;
            height: 55px;
            width: 3000px;
        }
    }
    .loader{
        left: 44%;
    }
}