@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Leckerli+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Send+Flowers&display=swap');

:root{
    --background-main: #faf9f6;
    --background-sec: #F0F2F5;
    --background-third: #F7F6F3;
    --accent-black: #121212;
    --accent-gold: #CCac00;
    --box-shadow: 0px 8px 15px rgba(0.1, 0.1, 0.1, 0.1);

    --text-regular1: Roboto;
    --text-regular2: Open Sans;
    --text-bold: Cal Sans;          
    --text-stylish: Leckerli One;
}

.toasttips{
    font-family: var(--text-regular1);
    .toasttip{
        position: fixed;
        left: .5%;
        bottom: -100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 400px;
        background: var(--background-third);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        transition: all .55s ease-in-out;
        z-index: 1000;

        visibility: hidden;
        opacity: 0;

        p{
            font-size: 18px;
            font-weight: 500;
            span{
                font-weight: 300;
                font-style: italic;
            }
        }
        svg{
            width: 15px;
            height: 15px;
            margin-left: 10px;
            padding: 3px 3px;
            background-color: rgb(255, 123, 123);
            border-radius: 100%;
        }
    }
    .copied-toast{
        svg{
            background-color: green;
        }
    }
    .user-toasttip{
        gap: 20px;
        width: 98%;
        color: var(--background-third);
        background: rgba(87, 94, 85, .4);
        backdrop-filter: blur(20px);
        p{
            font-size: .8rem;
        }
        button{
            width: 110px;
            height: 30px;
            color: var(--accent-black);
            white-space: nowrap;
            font-family: var(--text-regular1);
            font-size: .8rem;
            background: var(--background-third);
            font-weight: bold;
            backdrop-filter: blur(10px); 
            -webkit-backdrop-filter: blur(10px);
            border-radius: 20px;
            border: 1px solid rgba(255, 255, 255, 0.2);
            box-shadow: var(--box-shadow);
            transition: all .4s ease-in-out;
            cursor: pointer;
            &:hover{
                color: var(--background-third);
                background: rgba(255, 255, 255, 0.35);
                box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15), 
                -0px -.1px 3px rgba(0, 0, 0, 0.15);
                svg{
                    fill: var(--background-third);
                }
            }
        }
    }

    /* CLASSLIST FOR TOAST TIP TOGGLE */
    .show-toast{
        visibility: visible;
        bottom: 1%;
        opacity: 1;
    }
}
.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 320px;
    height: 200px;
    color: var(--background-third);
    font-family: var(--text-regular1);
    font-size: 1.3rem;
    text-align: center;
    background: rgba(87, 94, 85, .4);
    backdrop-filter: blur(20px);
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    transition: all .4s ease-in-out;
    z-index: 1000;

    visibility: hidden;
    opacity: 0;

    button{
        width: 110px;
        height: 50px;
        color: var(--accent-black);
        white-space: nowrap;
        font-family: var(--text-regular1);
        font-size: .8rem;
        background: var(--background-third);
        font-weight: bold;
        backdrop-filter: blur(10px); 
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: var(--box-shadow);
        transition: all .4s ease-in-out;
        cursor: pointer;
        &:hover{
            color: var(--background-third);
            background: rgba(255, 255, 255, 0.35);
            box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15), 
            -0px -.1px 3px rgba(0, 0, 0, 0.15);
            svg{
                fill: var(--background-third);
            }
        }
    }
}
.show{
    visibility: visible;
    opacity: 1;
}


.loader{
    position: fixed;
    top: 45%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid grey;
    border-top: none;
    animation: spin .6s linear infinite;
    z-index: 500;
    transition: all .35s ease-in-out;

    visibility: hidden;
    opacity: 0;
}
.loading-screen{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);
    z-index: 400;
    transition: all .35s ease-in-out;

    visibility: hidden;
    opacity: 0;
}
.black-screen{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    transition: all .3s ease-in-out;

    visibility: hidden;
    opacity: 0;
}
/* CLASSLIST FOR HIDING LOADER */
.show-loader{
    visibility: visible;
    opacity: 1;
}
@keyframes spin{
    to { rotate: 360deg};
}


/* SKELETON LAODING SCREEN */
.windows-container{
    .skeleton-loading-screen, .wishlist-skeleton-loading-screen{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 20px;

        .skeleton {
            background: linear-gradient(
                90deg,
                rgba(87, 94, 85, .1) 25%,
                rgba(87, 94, 85, .2) 50%,
                rgba(87, 94, 85, .1) 75%
            );
            background-size: 200% 100%;
            border-radius: 18px;
            animation: loading 1.5s infinite;
            backdrop-filter: blur(30px);
        }
        .skeleton-image {
            height: 300px;
            width: 100%;
        }
        .skeleton-title {
            height: 60px;
            width: 60%;
            margin-bottom: 12px;
        }
        .skeleton-text {
            height: 30px;
            margin-bottom: 8px;
        }
        .skeleton-box {
            height: 155px;
            width: 400px;
        }
    }
    .wishlist-skeleton-loading-screen{
        flex-direction: column;
    }
}
.review-cards-container{
    .skeleton-loading-screen{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px 10px;
        height: 200px;

        .skeleton {
            background: linear-gradient(
                90deg,
                rgba(87, 94, 85, .1) 25%,
                rgba(87, 94, 85, .2) 50%,
                rgba(87, 94, 85, .1) 75%
            );
            background-size: 200% 100%;
            border-radius: 18px;
            animation: loading 1.5s infinite;
            backdrop-filter: blur(30px);
        }
        .skeleton-text {
            height: 20px;
            margin-bottom: 8px;
        }
    }
}
.all-products{
    .product-section{
        padding: 0 30px;
        .productpage-skeleton-loader{
            .skeleton {
                background: linear-gradient(
                    90deg,
                    rgba(87, 94, 85, .1) 25%,
                    rgba(87, 94, 85, .2) 50%,
                    rgba(87, 94, 85, .1) 75%
                );
                background-size: 200% 100%;
                border-radius: 18px;
                animation: loading 1.5s infinite;
                backdrop-filter: blur(30px);
            }
            .skeleton-title {
                height: 60px;
                width: 30%;
                margin-bottom: 12px;
            }
            .skeleton-box {
                height: 400px;
                width: 280px;
            }
            .skeleton-grid{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
                gap: 50px;
            }
        }
    }
}


@keyframes loading {
    0% { background-position: 200% 0; }
    100% { background-position: -200% 0; }
}

@media(max-width: 900px){
    .toast-tip-container{
        .toasttip{
            left: 2%;
            height: 55px;
            width: 3000px;
        }
    }
    .loader{
        left: 44%;
    }

    .windows-container{
        .skeleton-loading-screen{
            .skeleton-image{
                height: 550px;
            }
        }
        .wishlist-skeleton-loading-screen{
            .skeleton-box {
                height: 190px;
                width: 330px;
                margin-bottom: 5px;
            }
        }
    }
    .all-products{
        .product-section{
            .productpage-skeleton-loader{
                .skeleton-title {
                    width: 80%;
                }
                .skeleton-box {
                    min-width: 320px;
                }
                .skeleton-grid{
                    .skeleton{
                        &:nth-child(3){
                            display: none;
                        }
                        &:nth-child(4){
                            display: none;
                        }
                    }
                }
            }
        }
    }
}