@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Leckerli+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Send+Flowers&display=swap');

:root{
    --background-color-main: white;
    --background-color: #f8f9f9;
    --secondary-background-color: #e5e7e9 ;
    --accent-color: #d055e7 ;
    --text-color-main: #212121;
    --text-color-secondary: #7d7d7d;
    --text-color-third: #d7dbdd;

    --text-regular1: Roboto;
    --text-regular2: Open Sans;
    --text-bold: Cal Sans;                           
    --text-stylish1: Leckerli One;
    --text-stylish2: Send Flowers;
}

*{  
    margin: 0;
    padding: 0;
}
html, body{
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.mobile{
    display: none;
}
.desktop{
    position: absolute;
    width: 80%;
    height: 35px;
    border-radius: 30px;
    transform: translate(12%, 70%);
    border: .3px solid black;
    z-index: 100;

    background: rgba(255, 255, 255, 0.15); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
   

    .nav-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 35px;
        width: 100%;

        .nav-left{
            display:flex;
            align-items: center;
            margin-left: 10px;
            font-family: var(--text-regular1);
            font-size: 16px;

            .home-link, .productsPge-link{
                margin-left: 40px;

                a{
                    color: var(--text-color-main);
                    text-decoration: none;
                    transition: .2s ease-in-out;
                }
                a:hover{
                    color: var(--accent-color);
                }
                .current-page{
                    color: var(--accent-color);
                }
            }
        }

        .nav-middle{
            position: relative;
            display:flex;
            align-items: center;
            gap: 10px;
            font-family: var(--text-regular1);
            font-size: 22px;

            input{
                height: 29px;
                width: 250px;
                border-radius: 30px;
                border: none;
                text-align: center;
                font-family: var(--text-regular1);
                font-size: 16px;
                background: none;
                box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
            }
            input:focus{
                border: none;
                outline: none;
                background: rgba(255, 255, 255, 0.1); 
                backdrop-filter: blur(10px); 
                -webkit-backdrop-filter: blur(10px);
                border: 1px solid rgba(255, 255, 255, 0.1);
            }
            input::placeholder{
                margin-left: 10px;
                color: var(--text-color-main);
                font-style: italic;
            }
            input:focus::placeholder {
                opacity: 0;
                transition: opacity 0.3s;
            }
            input:-webkit-autofill {
                -webkit-text-fill-color: #000 !important;
                transition: background-color 5000s ease-in-out 0s;
            }

            button{
                position: absolute;
                height: 20px;
                width: 20px;
                top: 5px;
                left: 82%;
                background: none;
                border: none;
                border-left: 1px solid rgba(255, 255, 255, 0.3);
                cursor: pointer;
                z-index: 150;

                svg{
                    width: 21px;
                    height: 21px;
                    margin-left: 8px;
                    fill: var(--text-color-secondary);
                }

            }
        }

         .nav-right{
            display:flex;
            margin-right: 20px;

            .Sign-in{
                padding: 5px 18px;
                border-radius: 7px;
                font-family: var(--text-regular1);
                font-size: 14px;
                color: var(--text-color-main);
                border: none;
                box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.29);
                background:linear-gradient(to right, var(--accent-color) 20%, #d693e4);
                cursor: pointer;
                transition: .3s ease-in-out;
            }

            .contact-us{
                margin-left: 25px;
                padding: 3px 5px;
                border-radius: 7px;
                font-family: var(--text-regular1);
                font-size: 14px;
                color: var(--text-color-main);
                border: none;
                box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.29);
                background-color: var(--background-color-main);
                cursor: pointer;
                transition: .3s ease-in-out;
            }
            .Sign-in:hover, .contact-us:hover{
                transform: scale(1.05);
            }
        }
    }
}