@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Leckerli+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Send+Flowers&display=swap');

:root{
    --background-main: #faf9f6;
    --background-sec: #F0F2F5;
    --background-third: #F7F6F3;
    --accent-black: #121212;
    --accent-gold: #CCac00;
    --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    --text-regular1: Roboto;
    --text-regular2: Open Sans;
    --text-bold: Cal Sans;          
    --text-stylish: Leckerli One;
}

html, body{
    margin: 0;
    padding: 0;
    background: var(--background-main);
    font-family: var(--text-regular1);
}

.add-new-package-tab{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-bottom: 30px;
    width: 330px;
    height: 50px;
    font-family: var(--text-bold);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}
.all-packages-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 45%));
    gap: 50px;
    padding: 0 30px;

    .package-container{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;
        height: 300px;
        font-family: var(--text-regular1);
        border-radius: 18px;
        box-shadow: 0px 1.5px 5px rgba(0, 0, 0, .4);
        cursor: pointer;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        z-index: 1;

        .package-name{
            margin-top: 15%;
            color: var(--background-third);
            font-family: var(--text-bold);
            font-size: 2.5rem;
            z-index: 10;
        }

        .ctas{
            display: flex;
            align-items: center;
            gap: 20px;
            z-index: 10;
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 12px 30px;
                color: var(--background-sec);
                background: var(--accent-black);
                border-radius: 35px;
                border: none;
                outline: none;
                cursor: pointer;
            }

            .open-confirmdelete-popup{
                padding: 6px 15px;
                background: none;
                border: 1px solid var(--accent-black);
                svg{
                    margin-right: 5px;
                    width: 30%;
                    fill: rgb(247, 107, 107);
                }
            }
        }

        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%;
            backdrop-filter: blur(100px);
            background: linear-gradient(to top, rgba(0, 0, 0, .5),  transparent);
            mask-image: linear-gradient(to top, black, transparent);
            -webkit-mask-image: linear-gradient(to top, black, transparent);
            z-index: 1;
        }
    }
}

.package-details-screen{
    position: fixed;
    height: 80%;
    width: 93vw;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background: var(--background-main);
    border-radius: 18px;
    border: none;
    overflow-x: hidden;
    transition: all .3s ease-in-out;
    scrollbar-width: none;

    opacity: 0;
    visibility: hidden;
    z-index: 100;

    .close-btn{
        position: absolute;
        top: 3%;
        right: 2%;
        display: flex;
        align-items: center;
        padding: 5px 20px;
        color: var(--accent-black);
        background: none;
        border: 1px solid var(--accent-black);
        border-radius: 40px;
        outline: none;
        cursor: pointer;
    }

    .top{
        display: flex;
        gap: 100px;

        .image-container{
            .image-preview{
                display: none;
                width: 250px;
                height: 200px;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        /* for all labels */
        label{
            margin-bottom: 3px;
            font-family: var(--text-bold);
        }
        /* for all inputs */
        input{
            margin-bottom: 3px;
            padding: 15px;
            padding-left: 20px;
            border: none;
            outline: none;
            box-shadow: var(--box-shadow);
            border-radius: 10px;

            &[type="file"]::file-selector-button{
                padding: 10px 15px;
                color: white;
                background: var(--accent-black);
                border-radius: 35px;
                border: none;
                cursor: pointer;
            }

            &[type="file"]{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        /* for all text areas */
        textarea{
            width: 250px;
            height: 70px;
            padding: 5px;
            font-size: 13px;
            font-family: var(--text-regular1);
            resize: none;
            border: none;
            outline: none;
            box-shadow: var(--box-shadow);
            border-radius: 10px;

        }
    }
    .product-selection-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        input{
            margin-bottom: 3px;
            padding: 15px;
            padding-left: 20px;
            width: 170px;
            border: none;
            outline: none;
            box-shadow: var(--box-shadow);
            border-radius: 100px;
            &::placeholder{
                font-size: .9rem;
                font-family: var(--text-regular1);
                color: var(--accent-black);
                font-weight: bold;
            }
        }

        .product-preview-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            span{
                font-style: italic;
                font-weight: bold;
            }
            .found-product-preview{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                margin-top: 20px;
                width: 300px;
                height: 250px;
                img{
                    width: 100%;
                    height: 85%;
                    border-radius: 10px;
                    object-fit: cover;
                }
                span{
                    font-style: normal;
                    font-weight: normal;
                }
            }
        }
        button{
            align-self: center;
            padding: 12px 70px;
            color: var(--background-third);
            background: var(--accent-black);
            border: none;
            border-radius: 100px;
            outline: none;
            cursor: pointer;
        }

        .selected-prodcts-row{
            display: flex;
            align-items: center;
            gap: 25px;
            margin: 40px 0;
            height: 150px;
            width: 70%;
            overflow-x: scroll;

            .selected-product{
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-shrink: 0;
                position: relative;
                width: 100px;
                height: 100px;
                button{
                    position: absolute;
                    top: -10%;
                    right: -10%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 5px;
                    border-radius: 100%;
                    svg{
                        fill: var(--background-third);
                    }
                }
                img{
                    width: 100%;
                    height: 85%;
                    object-fit: cover;
                    border-radius: 10px;
                }
                span{
                    font-size: .8rem;
                    white-space: nowrap;
                }
            }
        }
    }

    .complete-btn{
        position: static;
        padding: 12px 70px;
        color: var(--background-third);
        background: var(--accent-black);
        border: none;
        border-radius: 40px;
        outline: none;
        cursor: pointer;
    }
}

.confirm-delete-popup-container{
    position: fixed;
    top: 26%;
    left: 37%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    width: 300px;
    height: 200px;
    background: var(--background-third);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    z-index: 200;
    transition: all .3s ease-in-out;

    visibility: hidden;
    opacity: 0;

    .padding{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 10px 10px;
        width: 95%;
        height: 95%;
        background: var(--background-main);
        border-radius: inherit;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

        .ctas{
            display: flex;
            gap: 15px;

            button{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 7px 20px;
                gap: 3px;
                color: var(--background-sec);
                background: var(--accent-black);
                border-radius: 35px;
                border: none;
                outline: none;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
                cursor: pointer;

                svg{
                    flex-shrink: 0;
                    width: 25%;
                    fill: rgb(247, 107, 107);
                }

                &:nth-child(1){
                    color: var(--accent-black);
                    background: none;
                    border: 1px solid var(--accent-black);
                }
            }
        }
    }
}

/* screen and popup toggle classlist */
.screen-show{
    visibility: visible;
    opacity: 1;
}


@media(max-width: 900px){
    .all-packages-container{
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
        .package-container{
            .package-name{
                margin-top: 25%;
            }
        }
    }
    .package-details-screen{
        align-items: normal;
        padding: 40px 15px;
        height: 83%;
        .top{
            flex-direction: column;
            gap: 30px;
        }
        .product-selection-container{
            .selected-prodcts-row{
                width: 100%;
                scrollbar-width: none;
                -webkit-scrollbar-width: none;
            }
        }
    }
}