@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Leckerli+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Send+Flowers&display=swap');

:root{
    --background-main: #faf9f6;
    --background-sec: #F0F2F5;
    --background-third: #F7F6F3;
    --accent-black: #121212;
    --accent-gold: #CCac00;
    --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    --text-regular1: Roboto;
    --text-regular2: Open Sans;
    --text-bold: Cal Sans;          
    --text-stylish: Leckerli One;
}

html, body{
    margin: 0;
    padding: 0;
    background: var(--background-main);
    font-family: var(--text-regular1);
}

.reviews-main-screen{
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 10px 20px;
    margin: 5px;
    margin-top: 0px;
    row-gap: 30px;

    .product-card{
        display: flex;
        gap: 10px;
        padding: 2px;
        width: 350px;
        height: 120px;
        min-width: 300px;
        border-radius: 20px;
        box-shadow: var(--box-shadow);
    
        .left{
            width: 35%;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-bottom-left-radius: 18px;
                border-top-left-radius: 18px;
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 65%;
            overflow: hidden;

            .review-dummy-txt{
                margin-top: 8px;
                overflow: hidden;
                span{
                    &:nth-child(1){
                        display: block;
                        font-family: var(--text-stylish);
                        font-weight: 500;
                    }
                    &:nth-child(2){
                        display: flex;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}

.product-reviews-screen{
    position: fixed;
    height: 90%;
    width: 100vw;
    top: 23%;
    background: var(--background-main);
    border-radius: 18px;
    border: none;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all .3s ease-in-out;
    z-index: 100;

    opacity: 0;
    visibility: hidden;

    .screen-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 25px;
        padding: 15px 5px;
        padding-left: 25px;

        .product-name{
            font-size: 25px;
            font-family: var(--text-bold);
        }

        button{
            display: flex;
            align-items: center;
            padding: 5px 20px;
            color: var(--accent-black);
            background: none;
            border: 1px solid var(--accent-black);
            border-radius: 40px;
            outline: none;
            cursor: pointer;
        }
    }

    .content{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        padding: 10px 15px;

        .review-card{
            display: flex;
            flex-direction: column;
            width: 330px;
            margin-bottom: 20px;
            padding: 15px 25px;
            gap: 20px;
            background: var(--background-third);
            border-radius: 17px;
            box-shadow: var(--box-shadow);

            .top, .mid-top-row,  .mid-bottom-row{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .top{
                .user-image-container{
                    img{
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                    }
                }
                .user-email-container{
                    font-weight: 500;
                    font-family: var(--text-bold);
                    font-size: 18px;
                }
                button{
                    padding: 9px 10px;
                    border-radius: 50%;
                }
            }
            .mid{
                .mid-top-row{
                    margin-bottom: 4px;
                }
                .username-container, .usercontact-conatiner, .likes-conatiner{
                    font-style: italic;
                    span{
                        font-style: normal;
                        font-size: 19px;
                    }
                }
                button{
                    padding: 6px 20px;
                    svg{
                        margin-right: 3px;
                        stroke: var(--background-main);
                    }
                }
            }
            .message-container{
                padding: 10px 10px;
                background: var(--background-main);
                box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
                border-radius: inherit;
            }
        }

        /* all buttons */
        button{
            display: flex;
            align-items: center;
            justify-self: flex-end;
            padding: 5px 20px;
            color: var(--background-main);
            background: var(--accent-black);
            border: none;
            border-radius: 40px;
            outline: none;
            cursor: pointer;
        }
    }
}

.confirm-delete-popup-container{
    position: fixed;
    top: 26%;
    left: 37%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    width: 300px;
    height: 200px;
    background: var(--background-third);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    z-index: 200;
    transition: all .3s ease-in-out;

    visibility: hidden;
    opacity: 0;

    .padding{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 10px 10px;
        width: 95%;
        height: 95%;
        background: var(--background-main);
        border-radius: inherit;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

        .ctas{
            display: flex;
            gap: 15px;

            button{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 7px 20px;
                gap: 3px;
                color: var(--background-sec);
                background: var(--accent-black);
                border-radius: 35px;
                border: none;
                outline: none;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
                cursor: pointer;

                svg{
                    flex-shrink: 0;
                    width: 25%;
                    fill: rgb(247, 107, 107);
                }

                &:nth-child(1){
                    color: var(--accent-black);
                    background: none;
                    border: 1px solid var(--accent-black);
                }
            }
        }
    }
}

/* screen and popup toggle classlist */
.screen-show{
    visibility: visible;
    opacity: 1;
}


@media (max-width: 450px){
    .reviews-main-screen{
        row-gap: 20px;
    }

    .product-reviews-screen{
        top: 13%
    }

    .confirm-delete-popup-container{
        top: 32%;
        left: 11%;
    }
}