@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Leckerli+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Send+Flowers&display=swap');

:root{
    --background-main: #faf9f6;
    --background-sec: #F0F2F5;
    --background-third: #F7F6F3;
    --accent-black: #121212;
    --accent-gold: #CCac00;
    --box-shadow: 0px 8px 15px rgba(0.1, 0.1, 0.1, 0.1);

    --text-regular1: Roboto;
    --text-regular2: Open Sans;
    --text-bold: Cal Sans;          
    --text-stylish: Leckerli One;
}

html, body{
    margin: 0;
    padding: 0;
    background: var(--background-main);
    font-family: var(--text-regular1);
}

.admin-cms-header{
    display: flex;
    width: 98.5%;
    height: 130px;
    padding: 10px;

    .logo-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 50px;
        height: 50px;
        background: var(--background-sec);
        border-radius: 50%;
        box-shadow: 0px 10px 17px rgba(0.1, 0.1, 0.1, 0.1);
    }

    .header-container{
        display: none;
        margin-top: -1%;
        transform: translateX(42%);

        .cms-header{
            font-family: var(--text-stylish);
            font-size: 50px;
            text-align: center;
            line-height: 1.0;
        }
    }
}

.admin-signin-interface{
    justify-self: center;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 5%;

    input{
        padding: 15px;
        padding-left: 20px;
        border: none;
        outline: none;
        box-shadow: var(--box-shadow);
        border-radius: 10px;

        &::placeholder{
            font-size: 16px;
        }
    }

    button{
        margin-top: 20px;
        padding: 12px 70px;
        color: var(--background-sec);
        font-size: 18px;
        background: var(--accent-black);
        border-radius: 35px;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all .5s ease-in-out;

        &:hover{
            box-shadow: 0px 8px 15px rgba(0.1, 0.1, 0.1, 0.1);
        }
    }
}

.admin-cms-homepage{
    display: none;
    justify-self: center;
    gap: 3%;
    margin-top: 9%;
    text-wrap: nowrap;
    
    a{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 150px;
        width: 270px;
        color: var(--accent-black);
        background: var(--background-third);
        font-weight: bold;
        font-size: 21px;
        text-decoration: none;
        border-radius: 20px;
        box-shadow: var(--box-shadow);

        svg{
            width: 50px;
            fill: var(--accent-black)
        }

        .ribbon{
            position: absolute;
            width: 85%;
            height: 80%;
            border-left: 3px solid var(--accent-gold);
            border-bottom: 3px solid var(--accent-gold);
            border-bottom-left-radius: 15px;
            opacity: .5;
        }

        &:nth-child(2){
            .ribbon{
                border-left: 3px solid #D9BE33;
                border-bottom: 3px solid #D9BE33;
            }
        }
        &:nth-child(3){
            .ribbon{
                border-left: 3px solid #998100;
                border-bottom: 3px solid #998100;
            }
        }
        &:nth-child(4){
            .ribbon{
                border-left: 3px solid #665600;
                border-bottom: 3px solid #665600;
            }
        }
    }
}


@media (max-width: 450px){
    .admin-cms-header{
        width: 95%;

        .header-container{
            margin-top: 5%;
            transform: translateX(-5%);

            .cms-header{
                font-size: 35px;
                text-align: center;
                line-height: 1.0;
            }
        }
    }

    .admin-signin-interface{
        margin-top: 40%;

        input{
            padding: 20px 80px;
            padding-left: 20px;
            border-radius: 15px;
        }
    }

    .admin-cms-homepage{
        flex-direction: column;
        gap: 35px;
        margin-top: 15%;

        a{
            flex-direction: row;
            justify-content: center;
            gap: 0;
            height: 120px;
            width: 350px;box-shadow: 0px 8px 15px rgba(0.1, 0.1, 0.1, 0.1);

            svg{
                width: 60px;
                flex-shrink: 0;
                margin-left: 3px;
            }
        }
    }
}