@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Leckerli+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Send+Flowers&display=swap');

:root{
    --background-color-main: white;
    --background-color: #f8f9f9;
    --secondary-background-color: #e5e7e9;
    --accent-color: #d055e7 ;
    --showcase-clr-1: #AF7AC5;
    --showcase-clr-2: #f1c40f;
    --showcase-clr-3: #DAB6AD;
    --text-color-main: #212121;
    --text-color-secondary: #7d7d7d;
    --text-color-third: #d7dbdd;

    --text-regular1: Roboto;
    --text-regular2: Open Sans;
    --text-bold: Cal Sans;                           
    --text-stylish1: Leckerli One;
    --text-stylish2: Send Flowers;
}

main{
    .body-container{
        .section-2{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            margin-top: 5%;

            .product-showcase1, .product-showcase2, .product-showcase3{
                display: flex;
                height: 100vh;
                width: 100%;
                font-family: var(--text-regular2);

                .product-image{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50%;
                    img{
                        width: 80%;
                        filter: drop-shadow(10px 40px 15px rgba(0, 0, 0, 0.3));
                    }
                }
                .product-info{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 50%;
                    gap: 50px;
                    text-align: left;
                    h4{
                        padding: 30px 30px;
                        font-size: 20px;
                    }
                    a{
                        display: flex;
                        gap: 6px;
                        padding: 8px 30px;
                        text-decoration: none;
                        font-size: 18px;
                        background: var(--background-color-main);
                        border-radius: 30px;
                        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
                        transition: .3s ease-in-out;

                        animation: appear .3s linear;
                        animation-timeline: view();
                        animation-range: entry 0% cover 20%;

                        svg{
                            fill: var(--background-color-main);
                            transition: .3s ease-in-out;
                        }
                    }
                }
            }
            .product-showcase1{
                .product-image{
                    background-color: var(--showcase-clr-1);
                }
                .product-info{
                    a{
                        background: var(--showcase-clr-1);
                        color: var(--background-color-main);
                    }
                    a:hover{
                        background: var(--background-color-main);
                        color: var(--showcase-clr-1);
                        svg{
                            fill: var(--showcase-clr-1)
                        }
                    }
                }   
            }
            .product-showcase2{
                .product-image{
                    background-color: var(--showcase-clr-2);
                }
                .product-info{
                    a{
                        background: var(--showcase-clr-2);
                        color: var(--background-color-main);
                    }
                    a:hover{
                        background: var(--background-color-main);
                        color: var(--showcase-clr-2);
                        svg{
                            fill: var(--showcase-clr-2)
                        }
                    }
                }   
            }
            .product-showcase3{
                .product-image{
                    background-color: var(--showcase-clr-3);
                }
                .product-info{
                    a{
                        background: var(--showcase-clr-3);
                        color: var(--background-color-main);
                    }
                    a:hover{
                        background: var(--background-color-main);
                        color: var(--showcase-clr-3);
                        svg{
                            fill: var(--showcase-clr-3)
                        }
                    }
                }   
            }
        }
    }
}

@keyframes appear{
    from{
        scale: 0.8;
        opacity: 0;
        transform: translateY(50%);
    }
    to{
        scale: 1;
        opacity: 1;
        transform: translateY(-1%);
    }
}
