@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Leckerli+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Send+Flowers&display=swap');

:root{
    --background-color-main: white;
    --background-color: #f8f9f9;
    --secondary-background-color: #e5e7e9 ;
    --hearder-bg-clr-: #f8b5d3;
    --accent-color: #d055e7 ;
    --text-color-main: #212121;
    --text-color-secondary: #7d7d7d;
    --text-color-third: #d7dbdd;

    --text-regular1: Roboto;
    --text-regular2: Open Sans;
    --text-bold: Cal Sans;                           
    --text-stylish1: Leckerli One;
    --text-stylish2: Send Flowers;
}

main{
    display: flex;
    align-items: center;
    width: 100dvw;
    min-width: 100vw;
    
    .body-container{
        width: 60%;
        height: 100vh;
        margin-left: 20%;
        margin-right: 20%;

        .section-1{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0;
            width: 100%;
            height: 95%;

            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            box-shadow: 220px 0px 1px var(--hearder-bg-clr-),
                        -220px -0px 1px var(--hearder-bg-clr-);
            background: var(--hearder-bg-clr-);

            img{
                position: absolute;
                width: 62%;
                transform: translate(45%, 10.5%);
                z-index: 5;
            }

            .static{
                position: absolute;
                top: 15%;
                left: -2%;
                font-family: var(--text-stylish1);
                text-align: center;
                font-size: 90px;
                font-style: italic;
                text-wrap: nowrap;
                line-height: 1.1;
                transform: rotate(-11deg);
                z-index: 5;
            }
            
            .animate{
                position: relative;
                position: absolute;
                top: 65%;
                left: 12%;
                width: 320px;
                font-family: var(--text-stylish2);
                font-weight: bold;
                font-size: 70px;
                font-style: italic;
                text-wrap: nowrap;
                z-index: 5;
            }
            .animate::before{
                content: '';
                position: absolute;
                inset: 0;
                background-color: var(--hearder-bg-clr-);
                animation: typewriter 4s ease forwards;
                animation-iteration-count: infinite;
            }
    
        }
    }
}

@keyframes typewriter{
    to{
        left: 100%;
    }
}