@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Leckerli+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Send+Flowers&display=swap');

:root{
    --background-main: #faf9f6;
    --background-sec: #F0F2F5;
    --background-third: #F7F6F3;
    --accent-black: #121212;
    --accent-gold: #CCac00;
    --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    --text-regular1: Roboto;
    --text-regular2: Open Sans;
    --text-bold: Cal Sans;          
    --text-stylish: Leckerli One;
}

html, body{
    margin: 0;
    padding: 0;
    background: var(--background-main);
    font-family: var(--text-regular1);
}

.product-sections-screen, .products-screen, .add-new-product-section-screen, .add-new-product-screen, .update-product-screen{
    padding: 10px 35px;
    margin: 5px;
    margin-top: 0px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    transition: all .3s ease-in-out;

    .screen-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;

        .title{
            margin-bottom: 20px;
            font-size: 25px;
            font-family: var(--text-bold);
        }

        .header-container{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        /* supposed to inside "header container" but here so its accessible to other screens */
        button{
            display: flex;
            align-items: center;
            padding: 5px 20px;
            color: var(--accent-black);
            background: none;
            border: 1px solid var(--accent-black);
            border-radius: 40px;
            outline: none;
            cursor: pointer;
        }
        input{
            padding: 15px;
            padding-left: 20px;
            border: none;
            outline: none;
            box-shadow: var(--box-shadow);
            border-radius: 30px;

            &::placeholder{
                font-size: 16px;
            }
        }
    }

    .add-new-section-tab, .add-new-product-tab{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: 265px;
        height: 10px;
        margin-bottom: 20px;
        padding: 20px;
        font-weight: 500;
        border-radius: 20px;
        box-shadow: var(--box-shadow);
        cursor: pointer;
    }

    .grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

        .section-container, .product-container{
            display: flex;
            align-items: center;
            gap: 10px;
            width: 250px;
            height: 60px;
            margin-bottom: 30px;
            cursor: pointer;

            .section-card, .product-card{
                display: flex;
                gap: 10px;
                padding: 2px;
                width: 100%;
                height: 100%;
                min-width: 300px;
                border-radius: 20px;
                box-shadow: var(--box-shadow);
            
                .left{
                    width: 30%;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-bottom-left-radius: 18px;
                        border-top-left-radius: 18px;
                    }
                }
                .right{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            button{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 8px 8px;
                background: var(--background-main);
                border-radius: 100%;
                box-shadow: var(--box-shadow);
                border: none;
                outline: none;
                cursor: pointer;
                svg{
                    fill: rgb(247, 107, 107);
                }
            }
        }
    }
}
.product-sections-screen{
    display: none;
}
.products-screen{
    display: none;
    z-index: 50;

    .update-section-options-container{
        display: flex;
        align-items: center;
        gap: 15%;
        padding: 20px 10px;
        margin-bottom: 3%;
        box-shadow: inset 0px 2px 7px rgba(0, 0, 0, 0.05);

        label{
            margin-bottom: 3px;
            font-family: var(--text-bold);
        }

        input{
            margin-bottom: 3px;
            padding: 15px;
            padding-left: 20px;
            border: none;
            outline: none;
            box-shadow: var(--box-shadow);
            border-radius: 10px;
        }

        button{
            height: 40px;
            padding: 5px 50px;
            color: white;   
            background: var(--accent-black);
            border-radius: 40px;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }
}
.add-new-product-section-screen, .add-new-product-screen, .update-product-screen{
    position: fixed;
    height: 80%;
    width: 95vw;
    top: 23%;
    background: var(--background-main);
    border-radius: 18px;
    border: none;
    overflow-x: hidden;
    transition: all .3s ease-in-out;
    scrollbar-width: none;

    opacity: 0;
    visibility: hidden;
    z-index: 100;

    .screen-header{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .title{
            margin-bottom: 0;
        }
    }

    .content{
        display: flex;
        flex-direction: column;

        .section-headers-container{
            display: flex;
            gap: 20%;
            row-gap: 5%;
            margin-bottom: 2%;
        }

        .product-details-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
            row-gap: 5%;
            margin-top: 2%;
        }

        /* for all image previews */
        .image-container{
            .image-preview{
                display: none;
                width: 250px;
                height: 200px;
                object-fit: cover;
                border-radius: 10px;
            }
        }

        button{
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
            margin: 9% 0;
            padding: 10px 60px;
            color: var(--background-sec);
            background: var(--accent-black);
            border-radius: 35px;
            border: none;
            outline: none;
            cursor: pointer;
        }


        /* for all labels in content */
        label{
            margin-bottom: 3px;
            font-family: var(--text-bold);
        }

        /* for all inputs in content */
        input{
            margin-bottom: 3px;
            padding: 15px;
            padding-left: 20px;
            border: none;
            outline: none;
            box-shadow: var(--box-shadow);
            border-radius: 10px;

            &[type="file"]::file-selector-button{
                padding: 10px 15px;
                color: white;
                background: var(--accent-black);
                border-radius: 35px;
                border: none;
                cursor: pointer;
            }

            &[type="file"]{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        /* for all text areas in content */
        textarea{
            width: 250px;
            height: 70px;
            padding: 5px;
            font-size: 13px;
            font-family: var(--text-regular1);
            resize: none;
            border: none;
            outline: none;
            box-shadow: var(--box-shadow);
            border-radius: 10px;

        }
    }
}


.confirm-delete-popup-container{
    position: fixed;
    top: 26%;
    left: 37%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    width: 300px;
    height: 200px;
    background: var(--background-third);
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    z-index: 200;
    transition: all .3s ease-in-out;

    visibility: hidden;
    opacity: 0;

    .padding{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 10px 10px;
        width: 95%;
        height: 95%;
        background: var(--background-main);
        border-radius: inherit;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

        .ctas{
            display: flex;
            gap: 15px;

            button{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 7px 20px;
                gap: 3px;
                color: var(--background-sec);
                background: var(--accent-black);
                border-radius: 35px;
                border: none;
                outline: none;
                box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
                cursor: pointer;

                svg{
                    flex-shrink: 0;
                    width: 25%;
                    fill: rgb(247, 107, 107);
                }

                &:nth-child(1){
                    color: var(--accent-black);
                    background: none;
                    border: 1px solid var(--accent-black);
                }
            }
        }
    }
}

/* screen and popup toggle classlist */
.screen-show{
    visibility: visible;
    opacity: 1;
}



@media (max-width: 450px){
    .product-sections-screen, .products-screen, .add-new-product-section-screen, .add-new-product-screen, .update-product-screen{
        padding: 10px 5px;

        .screen-header{
            input{
                margin-right: 15px;
            }
        }

        .add-new-section-tab, .add-new-product-tab{
            margin-left: 5%;
            width: 310px;
        }

        .grid{
            padding: 10px 20px;
        }
    }

    .products-screen{
        .update-section-options-container{
            flex-direction: column;
            align-items: normal;
            padding: 20px 20px;
            row-gap: 10px;
            
            button{
                margin-top: 20px;
                width: 250px;
            }
        }
    }

    .add-new-product-section-screen, .add-new-product-screen, .update-product-screen{
        top: 15%;
        height: 83%;

        .content{
            .section-headers-container{
                flex-direction: column;
                align-self: center;

                .section-id-container, .title-container{
                    margin-bottom: 10%;
                }
            }

            .product-details-container{
                grid-template-columns: 1fr;
                align-self: center;
            }

            input, textarea{
                padding-left: 10px;
                padding: 15px;
                width: 300px;
            }
            button{
                margin-top: 100%;
            }
        }
    }

    .confirm-delete-popup-container{
        top: 32%;
        left: 11%;
    }
}