@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Leckerli+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Send+Flowers&display=swap');

:root{
    --background-color-main: white;
    --background-color: #f8f9f9;
    --secondary-background-color: #e5e7e9 ;
    --accent-color: #d055e7 ;
    --text-color-main: #212121;
    --text-color-secondary: #7d7d7d;
    --text-color-third: #d7dbdd;

    --text-regular1: Roboto;
    --text-regular2: Open Sans;
    --text-bold: Cal Sans;                           
    --text-stylish1: Leckerli One;
    --text-stylish2: Send Flowers;
}

main{
    .popup{
        position: fixed;
        width: 60%;
        height: 70%;
        top: 15%;
        left: 20%;
        font-family: var(--text-regular1);
        transform: scale(0.9);
        border-radius: 18px;
        border: none;
        overflow-x: hidden;
        background: rgba(255, 255, 255, 0.75); 
        backdrop-filter: blur(10px); 
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.35), 
                    -0px -.1px 3px rgba(0, 0, 0, 0.15); 
        transition: all .3s ease-in-out;

        opacity: 0;
        visibility: hidden;
        z-index: 130;
        
        -webkit-backdrop-filter: blur(10px);
        ::-webkit-scrollbar {
            width: 6px;
        }
        ::-webkit-scrollbar-track {
            background: transparent;
        }
        ::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.877); 
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: rgba(20, 0, 0, 0.4); 
        }
        scrollbar-width: thin;
        scrollbar-color: rgba(0, 0, 0, 0.2) transparent;


        .popup-padding{
            padding: 15px 15px;
            height: 100%;
            width: 100%;

            .product-info{
                display: flex;
                height: 70%;

                .image{
                    width: 60%;
                    height: 100%;
                    border-radius: 18px;

                    img{
                        width: 100%;
                        height: inherit;
                        object-fit: cover;
                        border-radius: inherit;
                    }
                }

                .basic-info{
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 40%;
                    padding-left: 5%;
                    padding-top: 2.5%;
                    font-size: 20px;
                    
                    .name{
                        display: flex;
                        align-items: center;
                        
                        p{
                            width: 50%;
                            margin-right: 10%;
                            text-wrap: wrap;
                            font-family: var(--text-bold);
                        }

                        button{
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            top: 6%;
                            right: 1%;
                            padding: 5px 12px;
                            border-radius: 20px;
                            border: none;
                            background: var(--text-color-main);
                            color: var(--background-color-main);
                            box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15), 
                            -0px -.1px 3px rgba(0, 0, 0, 0.15);
                            cursor: pointer;
                            transition: all .4s ease-in-out;

                            svg{
                                width: 50px;
                                fill:  var(--background-color-main);;
                                transform: rotate(45deg);
                            }
                            p{
                                margin-top: 2px;
                            }
                        }
                        button:hover{
                            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.35), 
                            -0px -.1px 2px rgba(0, 0, 0, 0.15);
                        }
                    }

                    .category{
                        padding-top: 10%;
                        padding-bottom: 3%;
                        font-family: var(--text-stylish1);

                        .category-content{
                            font-family: var(--text-regular1);
                        }
                    }

                    .price-container{
                        .price{
                            font-family: var(--text-stylish1);
                        }
                    }
                }
            }

            .product-details{
                display: flex;
                width: 99%;
                padding: 7% 0;
                
                .left, .right{
                    display: flex;
                    flex-direction: column;
                    gap: 17px;

                    .header{
                        font-size: 18px;
                        margin-bottom: 3px;
                        font-weight: bold;
                    }
                }
                .left{
                    width: 48%;
                    padding-right: 10px;
                    border-right: 2px solid rgba(0, 0, 0, 0.1);
                }
                .right{
                    width: 50%;
                    padding-left: 4%;
                    padding-right: 3%;
                }
            }

            .product-review{
                padding-bottom: 3%;
                .review-header{
                    margin-bottom: 3px;
                    font-family: var(--text-bold);
                    font-size: 18px;
                }

                .review-actions{
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .input{
                        position: relative;
                        padding-top: 2%;
                        input{
                            height: fit-content;
                            min-height: 50px;
                            width: 220px;
                            padding-left: 5%;
                            padding-right: 45%;
                            border-radius: 15px;
                            border: none;
                            font-family: var(--text-regular1);
                            font-size: 16px;
                            background: rgba(0, 0, 0, 0.2);
                        }
                        input:focus{
                            border: .09px solid rgba(255, 255, 255, 1);
                            outline: none; 
                           
                        }
                        input:-webkit-autofill {
                            -webkit-text-fill-color: #000 !important;
                            transition: background-color 5000s ease-in-out 0s;
                        }

                        .submit-review{
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            top: 32%;
                            right: -47%;
                            width: 75px;
                            height: 40px;
                            color: var(--background-color-main);
                            border: none;
                            border-radius: 16px;
                            background: var(--text-color-main);
                            cursor: pointer;

                            .submit-btn-text{
                                display: flex;
                            }
                            .success-text{
                                display: none;
                                font-style: italic;
                            }
                            .failed-text{
                                display: none;
                                font-style: italic;
                            }
                            .review-loader {
                                display: none;
                                width: 15px;
                                height: 15px;
                                border: 4px solid #ddd;
                                border-top: 4px solid #6200ee;
                                border-radius: 500%;
                                animation: spin 1s linear infinite;
                            }
                        }
                    }
                }

                .Popup-reviews-container{
                    margin-top: 40px;
                    color: var(--text-color-main);

                    .Popup-review-header{
                        margin-bottom: 10px;
                        color: var(--text-color-main);
                        font-size: 20px;
                        font-family: var(--text-bold);
                    }

                    .Popup-review-noResults-message{
                        display: none;
                        padding-left: 20px;
                        font-family: var(--text-regular2);
                        font-size: 18px;
                    }

                    .Popup-review-cards-container{
                        display: none;
                        height: fit-content;
                        width: 90%;
                        margin-bottom: 10px;
                        margin-top: 10px;
                        padding: 3% 3%;
                        background: rgba(255, 255, 255, 0.35);
                        border: 1px solid rgba(255, 255, 255, 0.8);
                        border-radius: 18px;

                        .Popup-review-card{
                            display: flex;
                            margin-bottom: 25px;
                            padding: 0 5px;
                            padding-bottom: 10px;
                            .user-image{
                                width: 8%;
                                align-self: start;
                                .user-profile-photo{
                                    border-radius: 100%;
                                    width: 40px
                                }
                                .user-profile-icon{
                                    padding: 7px 7px;
                                    border: 1px solid rgba(255, 255, 255, 0.9);
                                    border-radius: 100%;
                                }
                            }

                            .review{
                                width: 85%;
                                .user-info{
                                    display: flex;
                                    align-items: center;
                                    margin-bottom: 4px;
                                    svg{
                                        margin-right: 2px;
                                        fill: var(--text-color-main)
                                    }
                                    .user-name{
                                        font-family: var(--text-stylish1);
                                    }
                                }

                                .user-message-container{
                                    p{
                                        width: 99%;
                                        height: fit-content;
                                        overflow-wrap: break-word;
                                    }
                                }

                                .review-reaction-buttons{
                                    display: flex;
                                    align-items: center;
                                    margin-top: 10px;

                                    .liked-review-container{
                                        display: flex;
                                        align-items: center;
                                        margin-right: 30px;
                                        
                                        button{
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            margin-right: 4px;
                                            padding: 1px 1px;
                                            background: none;
                                            border-radius: 100%;
                                            border: 1px solid rgba(255, 255, 255, 0.6);
                                            box-shadow: .4px .4px 4px rgba(0, 0, 0, 0.1);
                                            transition: all .3s ease-in-out;
                                            cursor: pointer;
                                            svg{
                                                width: 80%;
                                                fill: var(--text-color-secondary)
                                            }
                                        }
                                        button:hover{
                                            background: rgba(255, 255, 255, 0.4);
                                        }
                                        p{
                                            font-size: 15px;
                                        }
                                    }
                                    .delete-review{
                                        padding: 6px 6px;
                                        background: none;
                                        border: .5px solid var(--text-color-main);
                                        border-radius: 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .popup::backdrop{
        background: rgba(0, 0, 0, 0.4);
    }
    
    .show {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }

    .closing {
        visibility: hidden;
        opacity: 0;
        transform: scale(0.8);
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 1150px){
    main{
        .popup{
            top: 5%;
            height: 90%;
            .popup-padding{
                .product-info{
                    flex-direction: column;
                    margin-bottom: 19%;
                    .image, .basic-info{
                        width: 100%
                    }
                    .image{
                        height: 95%;
                        img{
                            width: 95%;
                            margin-right: 10%
                        }
                    }
                    .basic-info{
                        flex-direction: column;
                        .name{
                            margin-top: 2px;
                            p{
                                width: 100%;
                                margin-right: 40%;
                            }
                            button{
                                top: 69.5%;
                                right: 4%;
                                svg{
                                    flex-shrink: 0;
                                    margin: 0;
                                    margin-left: 5px;
                                }
                                p{
                                    margin-top: 4px;
                                    font-size: 17px;
                                }
                            }
                        }
                        .category{
                            padding-top: 0;
                        }
                    }
                }
                .product-details{
                    flex-direction: column;
                    .left, .right{
                        width: 90%;
                        padding-left: 2%;
                        div{
                            padding-bottom: 10px;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.55);
                        }
                    }
                    .left{
                        border-right: none;
                        margin-bottom: 10px;
                    }
                    .right{
                        padding-top: 2%;
                    }
                }
                .product-review{
                    flex-direction: column;
                    .review-actions{
                        flex-direction: column;
                        align-items: start;
                        .input{
                            .submit-review{
                                top: 29%;
                                right: -47.5%;
                            }
                        }
                    }
                    .Popup-reviews-container{
                        .Popup-review-cards-container{
                            width: 88%;
                            .Popup-review-card{
                                .user-image{
                                    width: 15%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 950px){
    main{
        .popup{
            left: 15%;
            width: 70%;
        }
    }
}
@media (max-width: 800px){
    main{
        .popup{
            .popup-padding{
                .product-review{
                    .review-actions{
                        .input{
                            .submit-review{
                                top: 26%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 650px){
    main{
        .popup{
            left: 10%;
            width: 80%;
            .popup-padding{
                .product-info{
                    .basic-info{
                        .name{
                            p{
                                margin-right: 35%;
                            }
                        }
                    }
                }
                .product-review{
                    .review-actions{
                        .input{
                            .submit-review{
                                top: 23%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 520px){
    main{
        .popup{
            top: 10%;
            left: 0;
            width: 100%;
            border-bottom-left-radius: 0%;
            border-bottom-right-radius: 0%;
            background: rgba(255, 255, 255, 0.6); 
            .popup-padding{
                .product-info{
                    margin-bottom: 25%;
                    .image{
                        img{
                            width: 92.5%;
                            margin-right: 21%;
                        }
                    }
                    .basic-info{
                        .name{
                            p{
                                margin-right: 20%;
                                margin-bottom: 5px;
                            }
                            button{
                                p{
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
                .product-review{
                    margin-top: 5%;
                    .review-actions{
                        .input{
                            input{
                                width: 200px;
                            }
                            .submit-review{
                                top: 24%;
                                right: 57;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 445px){
    main{
        .popup{
            .popup-padding{
                .product-review{
                    .review-actions{
                        .input{
                            .submit-review{
                                top: 22%;
                            }
                        }
                    }
                }
            }
        }
    }
}