@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Leckerli+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Send+Flowers&display=swap');

:root{
    --background-main: #faf9f6;
    --background-sec: #F0F2F5;
    --background-third: #F7F6F3;
    --background-fourth: #121212;
    --accent-gold: #CCac00;
    --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    --text-regular1: Roboto;
    --text-regular2: Open Sans;
    --text-bold: Cal Sans;          
    --text-stylish: Leckerli One;
}

main{
    .showcase-offset{
        display: flex;
        align-items: center;
        height: 250px;
        width: 100%;
        background-image: url('../../Images/showcase-bg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;

        img{
            flex-shrink: 0;
            margin-top: 12%;
            width: 30%;
            rotate: 27deg;
            transform: scale(1.2);
            animation: scaleDown 1.5s ease forwards;
        }
        .text{
            margin-left: 1%;
            font-family: var(--text-bold);
            font-size: 4.5rem;
            line-height: .9;
            color: var(--text-color-third);
            
            opacity: 0;
            transform: translateY(30px);
            animation: fadeInUp 1s ease forwards;
            animation-delay: 0.5s;
        }
    }

    .product-section{
        display: flex;
        flex-direction: column;
        height: fit-content;
        margin-bottom: 200px;
        margin-top: 40px;
        padding: 0 30px;
        font-family: var(--text-regular1);

        .search-results-text{
            margin-bottom: 60px;
            font-family: var(--text-regular1);
            font-style: italic;
            font-size: 1.5rem;
            span{
                font-style: normal;
                font-weight: bold;
                font-size: 1.4rem;
            }
        }
        
        .grid-container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
            gap: 50px;

            .product-card{
                position: relative;
                height: 300px;
                border-radius: 18px;
                box-shadow: 0px 1.5px 5px rgba(0, 0, 0, .4);
    
                img{
                    height: inherit;
                    width: 100%;
                    border-radius: inherit;
                    object-fit: cover;
                }

                .name{
                    position: absolute;
                    top: 5%;
                    right: 19%;
                    padding: 5px 10px;
                    font-size: 12px;
                    border-radius: inherit;
                    background: rgba(255, 255, 255, 0.15); 
                    backdrop-filter: blur(10px); 
                    -webkit-backdrop-filter: blur(10px);
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    cursor: pointer;    
                }

                .wishlist-container{
                    .add-to-wishlist{
                        position: absolute;
                        top: 4%;
                        right: 5%;
                        font-size: 14px;
                        border-radius: 500%;
                        background: rgba(255, 255, 255, 0.15); 
                        backdrop-filter: blur(10px); 
                        -webkit-backdrop-filter: blur(10px);
                        border: 1px solid rgba(255, 255, 255, 0.2);
                        transition: all .4s ease-in-out;
                        cursor: pointer;  

                        svg{
                            width: 20px;
                            margin-top: 10%;
                            padding: 0px 5px;
                            fill: var(--text-color-secondary)
                        }
                    }

                    .wishlist-tooltip{
                        visibility: hidden;
                        position: absolute;
                        top: 17%;
                        right: 1%;
                        padding: 5px 10px;
                        font-size: 12px;
                        color: var(--text-color-main);
                        opacity: 0;
                        border-radius: 20px;
                        background: var(--background-color-main);
                        box-shadow: 0px 1.5px 5px rgba(0, 0, 0, .4);
                        transition: all .05s ease-in-out;
                        transition-delay: 1.1s;
                        z-index: 50;
                    }
                }
                .wishlist-container:hover{
                    .wishlist-tooltip{
                        visibility: visible;
                        opacity: 1;
                    }
                }

                .open-popup{
                    position: absolute;
                    bottom: 5%;
                    width: 80%;
                    left: 10%;

                    padding: 8px 13px;
                    font-size: 15px;
                    border-radius: inherit;
                    background: rgba(255, 255, 255, 0.25); 
                    backdrop-filter: blur(10px); 
                    -webkit-backdrop-filter: blur(10px);
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    cursor: pointer;    
                    transition: all .4s ease-in-out;
                }
                button:hover, button:active{
                    background: rgba(255, 255, 255, 0.35);
                    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15), 
                    -0px -.1px 3px rgba(0, 0, 0, 0.15); 
                }
            }
        }

        .no-results-screen{
            display: none;
            align-self: center;
            justify-self: center;
            font-size: 1.3rem;
            font-family: var(--text-bold);
        }
    }
}
@keyframes scaleDown {
    to {
        transform: scale(1);
    }
}
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 900px){
    main{
        .showcase-offset{
            position: relative;
            justify-content: center;
            img{
                position: absolute;
                bottom: -30%;
                left: -3%;
                width: 250px;
            }
            .text{
                font-size: 3rem;
            }
        }
    }
}
@media (max-width: 600px){
    main{
        .showcase-offset{
            img{
                bottom: -35%;
            }
            .text{
                margin-bottom: 40px;
                font-size: 2.8rem;
            }
        }
    }
}
@media (max-width: 390px){
    main{
        .showcase-offset{
            .text{
                font-size: 2.5rem;
            }
        }
    }
}